<h1 class="display-4"><i class="ml-2 mr-2 fa fa-list-alt" aria-hidden="true"></i>TASK LIST</h1>
<div cdkDropListGroup>
    <div class="example-container">
        <h2>ToDo</h2>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let task of todo" cdkDrag>
                <div class="card-body">
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            {{task.taskTitle | titlecase}}</strong>
                        <span style="float: right">
                            <strong>Created on : </strong>{{task.createdOn | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-4 text-muted">
                        {{task.taskId | uppercase }}
                        <span style="float: right">
                            <strong>Allocated to : </strong>{{task.allocatedTo | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong>Estimated time : </strong>
                        <span class="badge badge-info" style="background-color: #17a2b8">{{task.estimatedTime}}</span>
                        <span style="float: right">
                            <strong>Complexity : </strong>
                            <span class="badge badge-info" *ngIf="task.complexity == 'low'"
                                style="background-color: rgb(255, 172, 19)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'medium'"
                                style="background-color: rgb(47, 226, 24)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'high'"
                                style="background-color: rgb(255, 20, 20)">
                                {{task.complexity | titlecase }}
                            </span>
                        </span>
                    </h6>
                    <p class="card-text text-muted"><strong>Description : </strong>{{task.taskDesc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>In Progress</h2>

        <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let task of inprogress" cdkDrag>
                <div class="card-body">
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            {{task.taskTitle | titlecase}}</strong>
                        <span style="float: right">
                            <strong>Created on : </strong>{{task.createdOn | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-4 text-muted">
                        {{task.taskId | uppercase }}
                        <span style="float: right">
                            <strong>Allocated to : </strong>{{task.allocatedTo | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong>Estimated time : </strong>
                        <span class="badge badge-info" style="background-color: #17a2b8">{{task.estimatedTime}}</span>
                        <span style="float: right">
                            <strong>Complexity : </strong>
                            <span class="badge badge-info" *ngIf="task.complexity == 'low'"
                                style="background-color: rgb(255, 172, 19)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'medium'"
                                style="background-color: rgb(47, 226, 24)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'high'"
                                style="background-color: rgb(255, 20, 20)">
                                {{task.complexity | titlecase }}
                            </span>
                        </span>
                    </h6>
                    <p class="card-text text-muted"><strong>Description : </strong>{{task.taskDesc}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let task of done" cdkDrag>
                <div class="card-body">
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            {{task.taskTitle | titlecase}}</strong>
                        <span style="float: right">
                            <strong>Created on : </strong>{{task.createdOn | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-4 text-muted">
                        {{task.taskId | uppercase }}
                        <span style="float: right">
                            <strong>Allocated to : </strong>{{task.allocatedTo | titlecase }}
                        </span>
                    </h6>
                    <h6 class="card-subtitle mb-3 text-muted">
                        <strong>Estimated time : </strong>
                        <span class="badge badge-info" style="background-color: #17a2b8">{{task.estimatedTime}}</span>
                        <span style="float: right">
                            <strong>Complexity : </strong>
                            <span class="badge badge-info" *ngIf="task.complexity == 'low'"
                                style="background-color: rgb(255, 172, 19)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'medium'"
                                style="background-color: rgb(47, 226, 24)">
                                {{task.complexity | titlecase }}
                            </span>

                            <span class="badge badge-info" *ngIf="task.complexity == 'high'"
                                style="background-color: rgb(255, 20, 20)">
                                {{task.complexity | titlecase }}
                            </span>
                        </span>
                    </h6>
                    <p class="card-text text-muted"><strong>Description : </strong>{{task.taskDesc}}</p>
                </div>
            </div>
        </div>

    </div>
</div>