<h1 class="display-4"><i class="ml-2 mr-2 fa fa-pencil-square-o" aria-hidden="true"></i>CREATE TASK</h1>
<form #taskForm="ngForm" autocomplete="off" (submit)="onSubmitTaskForm(taskForm)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.taskData.id" class="form-control">
    <input type="hidden" name="taskId" #taskId="ngModel" [(ngModel)]="service.taskData.taskId" class="form-control">
    <input type="hidden" name="createdBy" #createdBy="ngModel" [(ngModel)]="service.taskData.createdBy"
        class="form-control">
    <input type="hidden" name="createdOn" #createdOn="ngModel" [(ngModel)]="service.taskData.createdOn"
        class="form-control">
    <input type="hidden" name="status" #status="ngModel" [(ngModel)]="service.taskData.status" class="form-control">

    <div class="form-group" ngClass="{'has-error': taskForm.controls.taskTitle.touched || taskForm.controls.taskTitle.invalid)"> 
        <label for="taskTitle">Title</label>
        <input name="taskTitle" #taskTitle="ngModel" [(ngModel)]="service.taskData.taskTitle" class="form-control">

        <p>JSON : {{taskForm.controls}}</p>
        <p>Touched : {{taskForm.controls.taskTitle.touched}}</p>
        <p>Invalid : {{taskForm.controls.taskTitle.invalid}}</p>

        <!-- <div *ngIf="taskTitle.invalid && (taskTitle.dirty || taskTitle.touched)" class="alert alert-danger">
            <div *ngIf="taskTitle.errors.required">
                Title is required.
            </div>
        </div> -->

    </div> 
    <div class="form-group">
        <label for="allocatedTo">Description</label>
        <textarea name="taskDesc" rows="5" #taskDesc="ngModel" [(ngModel)]="service.taskData.taskDesc"
            class="form-control"></textarea>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <div class="btn-group btn-group-justified">
                <label for="allocatedTo">Allocated to</label>
                <select id="allocatedTo" name="allocatedTo" #allocatedTo="ngModel"
                    [(ngModel)]="service.taskData.allocatedTo" class="form-control">
                    <option value="alok">3592 - Alok</option>
                    <option value="sumeet">3214 - Sumeet</option>
                    <option value="amit">2231 - Amit</option>
                    <option value="ekta">6545 - Ekta</option>
                    <option value="rohan">3245 - Rohan</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="complexity">Complexity</label>
            <select id="complexity" name="complexity" #complexity="ngModel" [(ngModel)]="service.taskData.complexity"
                class="form-control">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="allocatedTo">Estimated time</label>
            <input type="number" name="estimatedTime" #estimatedTime="ngModel"
                [(ngModel)]="service.taskData.estimatedTime" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-info" [disabled]="!taskForm.valid">Submit</button>
    </div>
</form>