<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/page1" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/page2" class="nav-link" href="#">Hisaab</a>
      </li>
      <li class="nav-item">
        <a routerLink="/animation" class="nav-link" href="#">Animation</a>
      </li>
    </ul>
    <p>{{currentDateAndTime}}</p>
    
  </div>
</nav>
<router-outlet></router-outlet> -->

<!-- 
<div class="container">
    <app-employees></app-employees>
</div> -->

<div class="container">
    <app-tasks></app-tasks>
</div>