.activity {
    background: lightblue;
  }
 
.add-expense{
    background: coral ;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  mat-form-field {
    width: 100%
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .splitBetween{
    line-height: 4rem;
  }

  .mat-chip {
    background-color: white;
  }