<form [formGroup]="alokForm" autocomplete="off" (ngSubmit)="onClickSubmit(alokForm.value)">

    <div class="form-group" [ngClass]="{'has-error':name.invalid && (name.dirty || name.touched)}">
        <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <span class="error-badge">Name is required</span>
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error':age.invalid && (age.dirty || age.touched)}">
        <input type="number" class="form-control" name="age" placeholder="Age" formControlName="age">

        <div class="error-badge" *ngIf="age.invalid && (age.dirty || age.touched)">
            <div *ngIf="age.errors.required">
                <span>Age is required</span>
            </div>
            <div *ngIf="age.errors.min || age.errors.max">
                <span>Invalid age</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="number" class="form-control" name="mobile" placeholder="Mobile" formControlName="mobile">

        <div class="error-badge" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
            <div *ngIf="mobile.errors.required">
                <span>Mobile number is required.</span>
            </div>
            <div *ngIf="mobile.errors.pattern">
                <span>Mobile number must be 10 digits.</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-info" [ngClass]="{'btn-danger':!alokForm.valid}"
            [disabled]="!alokForm.valid" value="Submit">
    </div>

</form>